Question 4)
    Given File 'startup_funding.csv'
    Problem Statement :
    There are 4 different type of investments. Find out percentage of amount funded for each investment type.
    Plot a pie chart to visualise.
    Print the investment type and percentage of amount funded with 2 decimal places after rounding off.
    Note :
    Correct spelling of investment types are - "Private Equity", "Seed Funding", "Debt Funding", and "Crowd Funding". Keep an eye for any spelling mistake. You can find this by printing unique values from this column.
    Print the investment type in descending order with respect to the percentage of the amount funded.
    Output Format :

    investmentType1 percent1
    investmentType2 percent2
    investmentType3 percent3
    . . .

### Importing the Libraries

In [1]:
import numpy as np  # For using n-d array mathematical operations
import pandas as pd # For open csv files and create dataframe
import matplotlib.pyplot as plt # For plotting graphs

### Reading CSV Files and Checking the content in it

In [2]:
# Opening csv files
dataset = pd.read_csv('startup_funding.csv', skipinitialspace = True, encoding = 'utf-8')
df = dataset.copy() # Copying the dataset dataframe in df in case anything goes wrong, we can start again
df.head(10) # Showing first 10 rows in df

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,"1,300,000",NaN
1,1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN,NaN
2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN,NaN
3,3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,"500,000",NaN
4,4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,"850,000",NaN
5,5,01/07/2017,Billion Loans,Consumer Internet,Peer to Peer Lending platform,Bangalore,Reliance Corporate Advisory Services Ltd,Seed Funding,"1,000,000",NaN
6,6,03/07/2017,Ecolibriumenergy,Technology,Energy management solutions provider,Ahmedabad,"Infuse Ventures, JLL",Private Equity,"2,600,000",NaN
7,7,04/07/2017,Droom,eCommerce,Online marketplace for automobiles,Gurgaon,"Asset Management (Asia) Ltd, Digital Garage Inc",Private Equity,"20,000,000",NaN
8,8,05/07/2017,Jumbotail,eCommerce,online marketplace for food and grocery,Bangalore,"Kalaari Capital, Nexus India Capital Advisors",Private Equity,"8,500,000",NaN
9,9,05/07/2017,Moglix,eCommerce,B2B marketplace for Industrial products,Noida,"International Finance Corporation, Rocketship,...",Private Equity,"12,000,000",NaN

### Solution for given problem
To find the percentage of amount funded for each type of investment, we have to use InvestmentType and
AmountInUSD column in dataframe

In [3]:
# Replacing incorrect Investment Type with Correct Name
df.InvestmentType.replace('PrivateEquity', 'Private Equity', inplace = True)
df.InvestmentType.replace('SeedFunding', 'Seed Funding', inplace = True)
df.InvestmentType.replace('Crowd funding', 'Crowd Funding', inplace = True)
df.InvestmentType.replace(np.nan, '', inplace = True)

# Replacing np.nan value to 0 in the column AmountInUSD
df.AmountInUSD.replace(np.nan, '0', inplace = True)

investmentType = df['InvestmentType'] # Fetching all the values of investment type from df
amountInUSD = df['AmountInUSD'] # Fetching all the values of amount from df
investmentWithAmount = {} # Creating a dictionary which contains investment type as key and amount as value

# Fetching total amount for each investment type
for index in range(len(amountInUSD)):
    investment = investmentType[index]
    amount = int(str(amountInUSD[index]).replace(',',''))
    if investment != '':
        investmentWithAmount[investment] = investmentWithAmount.get(investment,0)+amount

investmentTypes = np.array(list(investmentWithAmount.keys()))
amounts = np.array(list(investmentWithAmount.values()), dtype = int)
totalAmount = np.sum(amounts)

# Print all the investment with percentage share
for index in range(len(amounts)):
    perc = amounts[index]/totalAmount*100
    print(investmentTypes[index],'{:.2f}'.format(perc))

Private Equity 98.15
Seed Funding 1.81
Debt Funding 0.04
Crowd Funding 0.00